@import "vendor/bootstrap/css/bootstrap.css";

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

.footer-light {
    background-color: #E9ECEF;
}

.text-rit-orange {
    color: #F76902;
}

.text-rit-orange:hover {
    color: #F76902;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-5 {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.2;
}

.subtitle {
    font-size: 1.7rem;
}

.font-blue {
    color: #007bff;
}

.font-red {
    color: #ce2b12;
}

.pagination-centered {
    text-align: center;
}

.hero-image{
    width: 100%;
}


/*
Dark mode stuff for body
 

body.dark {
    background-color: #1E1E1E;
    color: #fff;
}

body.dark code[class*=language-],
body.dark aside input {border: 1px solid #292929; }
body.dark, body.dark input{background-color: #272727; color:#fff}
body.dark .jumbotron { background-color: #292929; }
body.dark .footer-light { background-color: #292929; }
body.dark .font-red { color: #c32772; }
body.dark .font-blue { color: #45cbef; }
body.dark .text-muted { color: #fff; }

*/
