/* Sticky Footer Classes */

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

.bg-medium-dark {
    background-color: #E9ECEF;
}

.text-rit-orange {
    color: #F76902;
}

.text-rit-orange:hover {
    color: #F76902;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-5 {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.2;
}

.subtitle {
    font-size: 1.7rem;
}

.font-blue {
    color: #007bff;
}

.font-red {
    color: #ce2b12
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 90vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}